<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523469429350-864dke4lo54th6hshqlhj7t7n85dcpic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523469429350-864dke4lo54th6hshqlhj7t7n85dcpic</string>
	<key>API_KEY</key>
	<string>AIzaSyBOKqwC9gTSDyr3ADh6Pdq3WcaIn-H4Aos</string>
	<key>GCM_SENDER_ID</key>
	<string>523469429350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawelbrzozowski.Firestore-Demo</string>
	<key>PROJECT_ID</key>
	<string>firestoredemo-c6e40</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoredemo-c6e40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523469429350:ios:3fb8790f9b26d0a2ab2ba7</string>
</dict>
</plist>